:root {
  --mainBackground: #07454e;
  --mainDark: #0a0a0a;
  --mainBlue: #0e7e9f;
  --link: #14576c;
  --textGray: #484848;
  --backgroundGray: #f2f2f2;
  --contactBorder: #d8d8d8;
  --inputBorder: #979797;

  --buttonForm: #258faf;
  --buttonFormBorder: #105d74;

  --valid: #2ca34d;
  --danger: #cf222e;
  /**Font size */
  --mainHeading: 5.6rem;
  --mainLineHeight: 6.1rem;
  --secondaryHeading: 2.8rem;
  --paragraph: 2.1rem;

  /** Padding and Margins */
  --small: 1rem;
  --medium: 3rem;

  --inputWidth: 36rem;
}

@media only screen and (max-width: 1220px) {
  :root {
    --mainHeading: 5rem;
    --mainLineHeight: 5.6rem;
    --secondaryHeading: 2.3rem;
  }
}
@media only screen and (max-width: 1120px) {
  :root {
    --mainHeading: 4rem;
    --mainLineHeight: 4.6rem;
    --secondaryHeading: 2.3rem;
  }
}

@media only screen and (max-width: 940px) {
  :root {
    --paragraph: 1.8rem;
  }
}

@media only screen and (max-width: 720px) {
  :root {
    --mainHeading: 2.6rem;
    --mainLineHeight: 3.6rem;
    --secondaryHeading: 1.8rem;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --inputWidth: 100%;
  }
}
