.inputLabel {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.9rem;
}

.formContainer input:not(input[type='radio']) {
  padding-left: 0.5rem;
  width: 100%;
  height: 4rem;
  border: 2px solid var(--inputBorder);
}

.dateOfBirthContainer {
  display: grid;
  grid-auto-flow: row;
}

.inputDate {
  display: grid;
  position: relative;
}

.calendarIcon {
  display: grid;
  position: absolute;
  align-self: center;
  justify-self: flex-end;
  right: 1rem;
}
