input[name='postcode'] {
  padding-left: 0.5rem;
  height: 4rem;
  border: 2px solid var(--inputBorder);
  width: 36rem;
}

.inputLabel {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 1.3rem;
}

.required:after {
  content: '*';
  color: var(--danger);
  margin-left: 5px;
}

.optionsContainer {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 36rem;
  height: 4rem;
  border: 2px solid var(--inputBorder);
  border-radius: 4px;
}

.notValid {
  padding-bottom: 1rem;
  font-weight: 300;
  color: var(--danger);
}

.streetSelect {
  display: flex;
  flex-direction: column;
  margin: var(--small) 0;
}

/* .buttonContainer {
  padding-top: 1.7rem;
} */

.postcodeContainer {
  display: grid;
  grid-auto-flow: row;
  gap: 1.7rem 0;
}
